@font-face {
    font-family: 'Interstate';
    src: url('../fonts/interstate.eot');
    src: url('../fonts/interstate.eot?#iefix') format('embedded-opentype'),
         url('../fonts/interstate.woff') format('woff'),
         url('../fonts/interstate.ttf') format('truetype'),
         url('../fonts/interstate.svg#interstateregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, html { 
	height: 100%;
	width: 100%;
	margin: 0;
}

html, input, button {
	font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

h1, h2, h3, p { 
	margin: 0; 
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

input {
	-moz-box-sizing: border-box;
     box-sizing: border-box;
}

button {
	cursor: pointer;
	border: none;
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}

#container { 
	width: 100%;
	height: 100%;
	background: #fff;
}

header { 
	height: 46px;
	width: 100%;
	background: #333;
}

header h1 {
	background: linear-gradient(#f60,#f30);
	height: 46px;
	width: 85px; 
	margin-left: 30px; 
}

header h1 img { 
	display: block;
	height: 100%;
	width: 100%; 
}

.main {
	padding: 30px;
}

/**********************************
	FACTORY
**********************************/
.Factory {
	display: inline-block;
	position: relative;
}

.Factory .intro {
	text-align: left;
	margin-bottom: 15px;
}

.factoryContainer {
	width: 612px;
	height: 612px;
	border: #333 solid 1px;
	position: relative;
}

#waveContainer {
	height: 90px;
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 4;
	opacity: 0.8;
}

#waveContainer .waveWrap {
	height: 200%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.waveWrap canvas {
	height: 100%;
	width: 100%;
}

.waveWrap .cursor {
	height: 100%;
	width: 1px;
	background: #fe3400;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

/**********************************
	IMAGE FACTORY
**********************************/

.imageContainer {
	width: 100%;
	height: 100%;
	position: relative;
}

.imageContainer .image {
	width: 100%;
	height: 100%;
}

.imageContainer .activeArea {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	cursor: pointer;
	display: none;
}

/**********************************
	SOUND FACTORY
**********************************/

.remote {
	position: relative;
	width: 75px;
	position: absolute;
	right: -75px;
	top: 30px;
	text-align: right;
}

.remote button {
	border-radius: 50%;
	width: 45px;
	height: 45px; 
	background: #fe3400 url(../img/bg-adD.png) no-repeat center center;
	border: #333 solid 6px;
	display: inline-block;
	cursor: pointer;
	cursor: move;
}

.remote .manual {
	position: absolute;
	color: white;
	background: rgba(0,0,0,.8);
	top: -150%;
	padding: 18px 30px;
	left: 50%;
	width: 400px;	
	margin: 0: auto;
	left: 0;
	right: 0;
}

.tracksContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 18;
}

.tracksContainer .anchor {
	border-radius: 50%;
	width: 45px;
	height: 45px; 
	background: #333;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../img/btn-wave-3.png);
	position: absolute;
	display: block;
	padding: 0;
	-webkit-transform-origin: 50% 50%;
	z-index: 5;
	opacity: 0.5;
}

.tracksContainer .anchor.select {
	opacity: 1;
}

.tracksContainer .anchor.playing {
	background-color: #fe3400;
	background-image: url(../img/stop-big.png);
	opacity: 1;
}

/**********************************
	SEARCH FACTORY
**********************************/

.Factory .search { 
	text-align: center;
	font-size: 21px;
	position: absolute;
	top: 30px;
	left: 30px;
	bottom: 30px;
	right: 30px;
	z-index: 20;
}

.Factory .search .inputWrapper {
	display: inline-block;
	margin-bottom: 12px;
	position: relative;
	margin-top: 15px;
}

.Factory .search input, 
.Factory .search .submit,
.Factory .search span {
	border: none;
	padding: 6px 18px;
	display: inline-block;
	height: 42px;
	width: 525px;
	font-size: inherit;
}

.Factory .search span {
	position: absolute;
	top: 9px;
	left: 15px;
	z-index: 2;
	padding: 0;
	width: auto;
	vertical-align: baseline;
}

.Factory .search input {
	padding-left: 27px;
	background: rgba(0,0,0,0.8);
	color: white;
}

.Factory .search .submit {
	background: rgb(0, 102, 204);
	color: #fff;
	position: relative;
	padding: 0;
}

.Factory .search .submit button {
	width: 100%;
	height: 100%;
	cursor: pointer;
	font-size: inherit;
	border: none;
	background: none;
	color: inherit;
}

.Factory .search .submit .loader {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	background: rgb(0, 102, 204) url(../img/loader-instagram.gif) no-repeat center center;
}

.Factory .search span {
	color: rgba(255, 255, 255, 0.5);
	font-style: italic;
}

::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
	font-style: italic;
}

:-moz-placeholder {
	color: rgba(255, 255, 255, 0.5);
	font-style: italic;
}

::-moz-placeholder {
	color: rgba(255, 255, 255, 0.5);
	font-style: italic;
}

.Factory .search .results {
	height: 453px;
	width: 100%;
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin-top: 30px;
}

.Factory .search .results .content {
	width: 10000px;
	text-align: left;
}

.Factory .search .results .content .page {
	display: inline-block;
	width: 550px;
	vertical-align: top;
	text-align: center;
}

.Factory .search .results .nav a {
	border-radius: 50%;
	width: 6px;
	height: 6px; 
	background: #333;
	display: inline-block;
	margin: 6px;
}

.Factory .search .results .nav a:hover,
.Factory .search .results .nav a.select {
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: scale(1.5);
}

.Factory .search.instagram .results {

}

.Factory .search .results .result {
	display: inline-block;
	margin: 12px;
	border: rgba(250, 250, 250, 0) solid 3px;
	/*opacity: 0.8;*/
}

.Factory .search .results .result:hover,
.Factory .search .results .result.select {
	opacity: 1;
}

.Factory .search .results .result img {
	display: block;
}

.Factory .search.soundcloud {
	background: rgba(0,0,0,0.5);
}

.Factory .search.soundcloud input {
	background: rgba(250,250,250,0.8);
	color: #000;
	padding-left: 18px;
}

.Factory .search.soundcloud ::-webkit-input-placeholder {
	color: #333;
}

.Factory .search.soundcloud .submit {
	background: rgb(254, 52, 0);
}

.Factory .search.soundcloud .submit .loader {
	background: rgb(254, 52, 0) url(../img/loader-soundcloud.gif) no-repeat center center;
}

.Factory .search.soundcloud span {
	display: none;
}

.Factory .search.soundcloud .results .result {
	width: 450px;
	height: 80px;
	background: none;
	border: none;
	margin: 0;
	margin-bottom: 12px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.Factory .search.soundcloud .results .result.playing {
	opacity: 1;
}

.Factory .search.soundcloud .results .result .waveWrap {
	height: 200%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.Factory .search.soundcloud .results .result .wave {
	width: 100%;
	height: 100%;
	opacity: 0.8;
}

.Factory .search.soundcloud .results .result .infos {
	position: absolute;
	text-align: left;
	z-index: 1;
	bottom: 6px;
	left: 6px;
}

.Factory .search.soundcloud .results .result button {
	border-radius: 50%;
	width: 22px;
	height: 22px; 
	background: #fe3400 url(../img/play.png) no-repeat top left;
	padding: 0;
}

.Factory .search.soundcloud .results .result button.add {
	background-image: url(../img/add.png);
}

.Factory .search.soundcloud .results .result.playing button.play,
.Factory .search.soundcloud .results .result button.over,
.Factory .search.soundcloud .results .result button:hover {
	background-color: #333;
}

.Factory .search.soundcloud .results .result.playing button.play {
	background-image: url(../img/stop.png);
}

.Factory .search.soundcloud .results .result h2 {
	color: #fe3400;
	font-weight: bold;
	font-size: 12px;
}

.Factory .search.soundcloud .results .result h3 {
	color: #fe3400;
	font-size: 10px;
}

.Factory .search.soundcloud .results .nav a {
	background: #fff;
}