@font-face {
    font-family: 'Interstate';
    src: url('../fonts/interstate.eot');
    src: url('../fonts/interstate.eot?#iefix') format('embedded-opentype'),
         url('../fonts/interstate.woff') format('woff'),
         url('../fonts/interstate.ttf') format('truetype'),
         url('../fonts/interstate.svg#interstateregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, html { 
	height: 100%;
	width: 100%;
	margin: 0;
}

html, input, button {
	font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

h1, h2, h3, p { 
	margin: 0; 
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

#container { 
	width: 100%;
	height: 100%;
	background: #fff;
	-webkit-user-select: none;
}
header { 
	height: 46px;
	width: 100%;
	background: #333;
}

header h1 {
	background: linear-gradient(#f60,#f30);
	height: 46px;
	width: 85px; 
	margin-left: 30px; 
}

header h1 img { 
	display: block;
	height: 100%;
	width: 100%; 
}

.main {
	padding: 30px;
	text-align: center;
}

/**********************************
	IMAGE FACTORY
**********************************/

.imageContainer {
	width: 612px;
	height: 612px;
	border: #333 solid 1px;
	background: url(../img/bg-image-manager.gif) no-repeat center center;
	display: inline-block;
}

.imageContainer .search { 
	/*margin: 27px;
	width: 552px;
	height: 552px;*/
	/*border: #FFF dashed 3px;
	border-radius: 30px;*/
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 21px;
}

.imageContainer .search .inputWrapper {
	display: inline-block;
	margin-bottom: 12px;
	position: relative;
	height: 42px;
	width: 550px;
	margin-top: 33px;
}

.imageContainer .search input, 
.imageContainer .search button,
.imageContainer .search span {
	border: none;
	padding: 6px 18px;
	display: inline-block;
	height: 42px;
	width: 550px;
	font-size: inherit;
}

.imageContainer .search span {
	position: absolute;
	top: 9px;
	left: 15px;
	z-index: 2;
	padding: 0;
	width: auto;
	vertical-align: baseline;
}

.imageContainer .search input {
	padding-left: 27px;
	border-bottom: #000 solid 1px;
	background: rgba(0,0,0,0.8);
	color: white;
}

.imageContainer .search button {
	background: rgba(0, 102, 204, 0.8);
	color: #fff;
}

::-webkit-input-placeholder,
.imageContainer .search span {
	color: rgba(255, 255, 255, 0.5);
	font-style: italic;
}

.imageContainer .search .results {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin-top: 30px;
}

.imageContainer .search .results .content {
	width: 10000px;
	text-align: left;
}

.imageContainer .search .results .content .page {
	display: inline-block;
	width: 594px;
	vertical-align: top;
	padding: 0 9px;
}

.imageContainer .search .results .remote a {
	border-radius: 50%;
	width: 6px;
	height: 6px; 
	background: #333;
	display: inline-block;
	margin: 6px;
}

.imageContainer .search .results .remote a:hover,
.imageContainer .search .results .remote a.select {
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: scale(1.5);
}

.imageContainer .search.instagram .results {

}

.imageContainer .search .loader {
	position: absolute;
	top: 0;
	bottom: 30px;
	left: 0;
	right: 0;
	background: url(../img/loader-instagram.gif) no-repeat center center;
	z-index: 2;
}

.imageContainer .search .results .result {
	display: inline-block;
	margin: 21px;
	border: rgba(250, 250, 250, 0) solid 3px;
	opacity: 0.8;
}

.imageContainer .search .results .result:hover,
.imageContainer .search .results .result.select {
	/*border-color: rgba(0, 102, 204, 0.8);*/
	opacity: 1;
}

.imageContainer .search .results .result img {
	display: block;
}

/**********************************
	SOUND FACTORY
**********************************/

.FactorySoundManager {
	padding: 30px;
}

.FactorySoundManager .remote {
	position: relative;
}

.FactorySoundManager .remote button {
	border-radius: 50%;
	width: 42px;
	height: 42px; 
	background: #fe3400 url(../img/bg-adD.png) no-repeat center center;
	border: #333 solid 3px;
	display: inline-block;
	cursor: pointer;
}

.FactorySoundManager .remote .manual {
	position: absolute;
	color: white;
	background: rgba(0,0,0,.8);
	top: -150%;
	left: 25%;
	padding: 18px 30px;
	/*border-radius: 3px;*/
}